In [1]:
import pandas as pd 
from sklearn import datasets

In [2]:
iris = datasets.load_iris()

In [6]:
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [8]:
df= pd.DataFrame(iris.data)

In [10]:
df.head(2)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2

In [11]:
import scipy.stats  as stats

In [13]:
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

In [ ]:
# As the Pvalue is very less compared to  alpha (0.05), so we reject null Hypothesis and Accept H1